<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css.css">
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>WIND-TURBINE-EXPERIMENTAL-ANALYSIS</title>
</head>

<body>
    
        <div class=" container centered">
 
            <form action="/login" method="POST" >
                <div class="backbox">
                    <div class="frontbox">
                        <h3>LOGIN</h3>
                        <div class="container">
                            <div class="row">
                                <label type="label" class="spacebetween p-2">Username</label>
                                <input type="text" name="username" placeholder="username" required class="textboxradius form-control">
                            </div>
                         </div>

                         <div class="container mt">
                            <div class="row">
                                <label type="label" class="spacebetween p-2">Password</label>
                                <input type="password" name="password" placeholder="password" required class="textboxradius form-control">
                            </div>
                         </div>

                        <div class="container center">
                            <div class="row">
                                <div class="col-12 mt">
                                    <button class="btn btn-success col-3 buttonradius" >Login</button>
                                    <a href="/register" type="button" class="btn col-3 btn-primary buttonradius">Register</a>
                                    <button id="Login_cancel_btn" onclick="LoginButton(this.id)" class="btn btn-danger col-4 ml-5 buttonradius">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>

