<div>
	
	<div>
		<h2>
			Add new values
		</h2>
	</div>
	<form action="/system" method="POST">
		<input type="text" name="system[Current]" placeholder="Current">
		<input type="text" name="system[Voltage]" placeholder="Voltage">
		<input type="submit">
	</form>
</div>

<div>
	<a href="/logout">Logout</a>
</div>